.stack-image{
    width: 30px;
    position: absolute; 
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.stack-image:hover{
    transform: scale(1.1);
}

#starsBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.customerReviewStar{
    width: 50px;
}